.card {
  width: max(10vw, 300px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

@media (max-width: 770px) {
  .card {
    width: max(10vw, 150px);
    height: 250px;
    cursor: grab;
  }
}